<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cbecs.scrm.channel.persistence.inf.ChannelMapper">

  <resultMap id="sysMenusMap" type="map">
    <id column="MenuID" property="menuID" javaType="String" jdbcType="VARCHAR" />
    <result column="MenuType" property="menuType" javaType="String" jdbcType="VARCHAR" />
    <result column="MenuName" property="menuName" javaType="String" jdbcType="VARCHAR" />
    <result column="MenuCode" property="menuCode" javaType="String" jdbcType="VARCHAR" />
    <result column="RightValue" property="rightValue" javaType="int" jdbcType="INTEGER" />
    <result column="ParentMenuID" property="parentMenuID" javaType="String" jdbcType="VARCHAR" />
    <result column="ParentMenuPath" property="parentMenuPath" javaType="String" jdbcType="VARCHAR" />
    <result column="parentMenuCode" property="parentMenuCode" javaType="String" jdbcType="VARCHAR" />
    <result column="MenuLevel" property="menuLevel" javaType="int" jdbcType="INTEGER" />
    <result column="Sort" property="sort" javaType="int" jdbcType="INTEGER" />
    <result column="ImageURL" property="imageURL" javaType="String" jdbcType="VARCHAR" />
    <result column="LinkURL" property="linkURL" javaType="String" jdbcType="VARCHAR" />
    <result column="IsVisible" property="isVisible" javaType="int" jdbcType="INTEGER" />
    <result column="IsCanDelete" property="isCanDelete" javaType="int" jdbcType="INTEGER" />
    <result column="Remark" property="remark" javaType="String" jdbcType="VARCHAR" />
    <result column="CreateTime" property="createTime" javaType="Date" jdbcType="TIMESTAMP" />
    <result column="ModifyTime" property="modifyTime" javaType="Date" jdbcType="TIMESTAMP" />    
    <result column="IsMenu" property="isMenu" javaType="int" jdbcType="INTEGER" />
    <collection property="children" ofType="map" column="MenuID"  select="getSysMenusByParentId" />
  </resultMap>
  
  <select id="getSysMenusByParentId" parameterType="String" resultMap="sysMenusMap">
    SELECT * 
    FROM Sys_Menu d
    WHERE d.ParentMenuID = #{menuID,jdbcType=VARCHAR}
    order by d.sort
  </select>
  
</mapper>